<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Recharrge Account</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- start: CSS -->
	<link id="bootstrap-style" href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-responsive.min.css" rel="stylesheet">
	<link id="base-style" href="css/style.css" rel="stylesheet">
	<link id="base-style-responsive" href="css/style-responsive.css" rel="stylesheet">
	<link
		href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,latin-ext'
		rel='stylesheet' type='text/css'>
	<!-- end: CSS -->
</head>

<body>
	<!-- start: Header -->
	<%- include('menu');  -%>
	<div class="container-fluid-full">
		<div class="row-fluid">
			<div id="sidebar-left" class="span2">
				<div class="nav-collapse sidebar-nav">
					<ul class="nav nav-tabs nav-stacked main-menu">
						<li><a href="/admin/user"><i class="icon-bar-chart"></i><span class="hidden-tablet">
									User</span></a></li>
						<li><a href="/admin/account"><i class="icon-align-justify"></i><span class="hidden-tablet">
									Account</span></a></li>
						<li><a href="/admin/recharge"><i class="icon-align-justify"></i><span class="hidden-tablet">
									Recharge and Withdraw</span></a></li>
					</ul>
				</div>
			</div>
			<div id="content" class="span10">
				<ul class="breadcrumb">
					<li>
						<i class="icon-home"></i>
						<a href="index.html">Home</a>
						<i class="icon-angle-right"></i>
					</li>
					<li><a href="#">Tables</a></li>
				</ul>
				<div class="row-fluid sortable">
					<div class="box span12">
						<div class="box-header" data-original-title>
							<h2><i class="halflings-icon white edit"></i><span class="break"></span>Recharrge Account</h2>
							<div class="box-icon">
								<a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
								<a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
								<a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
							</div>
						</div>
						<div class="box-content">
							<form method="POST" class="form-horizontal">
								<fieldset>
									<div class="control-group">
										<label class="control-label">STK:</label>
										<label class="control-label"><%= accounts.AccountId %> </label>
							
									</div>
									<div class="control-group">
										<label class="control-label" for="appendedPrependedInput">Enter the amount</label>
										<div class="controls">
											<div class="input-prepend input-append">
												<span class="add-on">$</span><input id="moneyInput" name="moneyInput"
													size="16" type="text"><span class="add-on">.00</span>
											</div>
										</div>
									</div>	
									<%= typeof(message) != "undefined" ? message : "" %>
									<div class="form-actions">
										<button type="submit" class="btn btn-primary">Save changes</button>
										<button type="button" class="btn" onclick="window.location.replace('../recharge')">Cancel</button>
									</div>
								</fieldset>
							</form>
						</div>
					</div>
					<!--/span-->

				</div>
				<!--/row-->

				<!--/row-->
			</div>
			<!--/.fluid-container-->

			<!-- end: Content -->
		</div>
		<!--/#content.span10-->
	</div>
	<!--/fluid-row-->

	<div class="clearfix"></div>

	<footer>
		<p>
			<span style="text-align:left;float:left">&copy; 2013 <a
					href="http://themifycloud.com/downloads/janux-free-responsive-admin-dashboard-template/"
					alt="Bootstrap_Metro_Dashboard">JANUX Responsive Dashboard</a></span>
		</p>
	</footer>
</body>

</html>