<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/login.css">
    <title>Internet Banking | Đăng nhập</title>
</head>

<body>
    <div class="container">      
        <div class="row">
            <header class="header-area ">
                <nav class="main-nav">
                    <a href="/" class="logo" style="text-decoration: none;">refund<em> banking</em></a>
                </nav>
            </header>
        </div>
        <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please sign in</h3>
                </div>
                <div class="panel-body">
                    <form method="POST" accept-charset="UTF-8" role="form">
                        <fieldset>
                            <% if(typeof(message) != "undefined") { %>
                                <p style="color: red;"> <%= message %></p>
                            <% } %>
                            <div class="form-group">
                                <input class="form-control" placeholder="E-mail" id="email" name="email" type="text">
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Password" id="password" name="password"
                                    type="password" value="">
                            </div>
                            <input class="btn btn-lg btn-success btn-block" type="submit" value="Đăng nhập ngay">
                            <div>
                                <hr width="90%" align="center">
                            </div>
                            <!-- <input formaction="login.html" class="btn btn-lg btn-success btn-block" type="submit" value="Tạo tài khoản mới"> -->
                            <a href="register" class="btn btn-lg btn-success btn-block">Tạo tài khoản mới</a>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        </div>
    </div>
</body>

</html>
