
<div class="row">
    <div class="col-12">
        <nav class="main-nav">
            <a href="index" class="logo">nqs<em> banking</em></a>
            <ul class="nav">
                <li class="scroll-to-section"><a href="#top">Home</a></li>
                <li class="scroll-to-section"><a href="#features">About</a></li>
                <li class="scroll-to-section"><a href="#our-classes">Classes</a></li>
                <li class="scroll-to-section"><a href="#contact-us">Contact</a></li> 
                <li class="main-button"><a href="login">Sign In</a></li>
            </ul>        
            <a class='menu-trigger'>
                <span>Menu</span>
            </a>
        </nav>
    </div>
</div>

