.header-area {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 100;
    height: 80px;
    background: rgba(250,250,250,0.1);
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
  }
  .header-area .main-nav {
    min-height: 80px;
    background: transparent;
    /* margin-left: 650px; */
    text-align: center;
  }
  .header-area .main-nav .logo {
    line-height: 80px;
    color: black;
    font-size: 32px;
    font-weight: 800;
    text-transform: uppercase;
    float: left;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  .header-area .main-nav .logo em {
    font-style: normal;
    color: #c11e40;
    font-weight: 900;
  }
  .btn-block{
      background-color: #c11e40;
  }
  .row{
      margin-top: 50px;
  }
